<html>
  <head>
    <style>
      h1 {
        color: blue;
      }
      h2 {
        color: green;
      }
      p {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Super cool from Bookis</h2>
    <%= yield %>
    Bookis™
  </body>
</html>
