<h1>Add Flash Card</h1>
<%= @card.errors.inspect %>
<form action="/flash-cards" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="flash_q">Question</label>
    <textarea name="q" id="flash_q"><%= @card.question%></textarea>
  </div>

  <div>
    <label for="flash_a">Answer</label>
    <textarea name="a" id="flash_a"><%= @card.answer %></textarea>
  </div>

  <input type="submit" value="Create Flash Card">
</form>
