body {
  margin: 0;
  font-family: "Futura" sans-serif;
}

.header {
  margin-bottom: 50px;
  background-color: #11dbe2;
}

.header .logo {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.header .navigation {
  display: block;
  margin: 0;
  padding: 0;
  float: right;
}

.header .navigation li {
  display: inline-block;
}

.header .navigation li a {
  display: inline-block;
  padding: 26px 15px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.box {
  position: relative;
  float: left;
  width: 31.33333%;
  margin-left: 3%;
}

.box:first-child {
  left: -200px;
  margin-left: 0px;
}

.box img {
  width: 100%;
}
.work {
}

.work:after {
  content: "";
  clear: both;
  display: block;
}

.next {
  margin-top: 200px;
}

.image-title {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 10px;
}
